<ion-grid text-wrap no-padding>
        <ion-item>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col class="sessionLabel_NoItal" col-7>SESSION</ion-col>
                <ion-col class="sessionLabel_NoItal" col-3>CREDITS</ion-col>
            </ion-row>    
        <ion-row>
          <ion-col col-2><button small button-clear ion-button *ngIf="this.session_8 !== true" (click)="updateSession(this.session_8, 8)">
              <ion-icon name="checkmark"></ion-icon></button>
            <button small ion-button *ngIf="this.session_8 === true" (click)="updateSession(this.session_8, 8)" color="secondary">
              <ion-icon isActive=true name="checkmark"></ion-icon></button></ion-col>
          <ion-col class="sessionLabel" col-7>Pediatrics [4.5 1A]</ion-col>
          <ion-col class="sessionLabel" col-3></ion-col>
        </ion-row>
      
       <!--  Caring for the Medically Complex Pediatric Patient.......................... 1
        TBI & Adolescent Sleep: The Hows, Whys and What to Dos.............. 1
        Pediatric Gastroenterology................................................................. 1
        Anxiety Disorders in Children & Adolescents.................................... 1
        2018 Top Publications in Pediatric Osteopathy................................. .5 -->
      
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-7>Caring for the Medically Complex Pediatric Patient</ion-col>
            <ion-col col-1 class="num-align">1</ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-7>TBI & Adolescent Sleep: The Hows, Whys and What to Dos</ion-col>
          <ion-col col-1 class="num-align">1</ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-7>Pediatric Gastroenterology</ion-col>
            <ion-col col-1 class="num-align">1</ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-2></ion-col>
              <ion-col col-7>Anxiety Disorders in Children & Adolescents</ion-col>
              <ion-col col-1 class="num-align">1</ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-7>2018 Top Publications in Pediatric Osteopathy</ion-col>
                <ion-col col-1 class="num-align">.5</ion-col>
                <ion-col col-2></ion-col>
              </ion-row>
      </ion-item>  
  
      
      <ion-row class="rowSpacer"></ion-row>  
      <ion-item>
          <ion-row>
            <ion-col col-2><button small button-clear ion-button *ngIf="this.session_9 !== true" (click)="updateSession(this.session_9, 9)">
                <ion-icon name="checkmark"></ion-icon></button>
              <button small ion-button *ngIf="this.session_9 === true" (click)="updateSession(this.session_9, 9)" color="secondary">
                <ion-icon isActive=true name="checkmark"></ion-icon></button></ion-col>
            <ion-col class="sessionLabel" col-7>Sports Medicine & Orthopedics [3.75 1A]</ion-col>
            <ion-col class="sessionLabel" col-3></ion-col>
          </ion-row>
         <!--  Advances in Osteoarthritis.............................................................. .75
          Common Issues in the Female Athlete........................................... .75
          Common Orthopedic Problems Encountered in the Office............. .75
          Concussions.................................................................................... .75
          Common Pediatric Problems in the Office...................................... .75 -->
          <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-7>Advances in Osteoarthritis</ion-col>
            <ion-col col-1 class="num-align">.75</ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-2></ion-col>
              <ion-col col-7>Common Issues in the Female Athlete</ion-col>
              <ion-col col-1 class="num-align">.75</ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-7>Common Orthopedic Problems Encountered in the Office</ion-col>
                <ion-col col-1 class="num-align">.75</ion-col>
                <ion-col col-2></ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-2></ion-col>
                  <ion-col col-7>Concussions</ion-col>
                  <ion-col col-1 class="num-align">.75</ion-col>
                  <ion-col col-2></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-2></ion-col>
                    <ion-col col-7>Common Pediatric Problems in the Office</ion-col>
                    <ion-col col-1 class="num-align">.75</ion-col>
                    <ion-col col-2></ion-col>
                  </ion-row>          
        </ion-item>  
        <ion-row class="rowSpacer"></ion-row>  
        <ion-item>
        <ion-row>
          <ion-col col-2><button small button-clear ion-button *ngIf="this.session_10 !== true" (click)="updateSession(this.session_10, 10)">
            <ion-icon name="checkmark"></ion-icon></button>
            <button small ion-button *ngIf="this.session_10 === true" (click)="updateSession(this.session_10, 10)" color="secondary">
              <ion-icon isActive=true name="checkmark"></ion-icon></button></ion-col>
          <ion-col class="sessionLabel" col-7><i>Optional Course [3 1A]</i></ion-col>
          <ion-col  col-3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-7>OMM Workshop</ion-col>
          <ion-col col-1 class="num-align">3</ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
      </ion-item>
      
      

        <ion-row class="rowSpacer"></ion-row>  
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col class="sessionLabel_NoItal" col-7><strong>Day Three CME Credits Earned</strong></ion-col>
            <ion-col class="sessionLabel_NoItal_right" col-1>{{totalCredits}}</ion-col>        
            <ion-col col-2></ion-col>
        </ion-row>                  
      </ion-grid>