/* summary {

    h3 {
        text-decoration: underline;
    }

    .help-color {
        color: green;
    }


    .cert-header 
    {
        font-size: 24px;
        font-weight: bold;
        color: map-get($colors, client-primary);
        align-content: center

    }

} */

/* @media (min-width: 1000px) {
    .app-root {
      width: 500px;
      margin: auto;
      position: relative;
    }
  
    .scroll-content {
      overflow-y:auto;
    }
  } */