<ion-grid text-wrap>
  <br /><br />
  <ion-row justify-content-center class="row-align-bottom" bottom>
        <img src="../../assets/imgs/TOMAlogo.jpg" height="65">
  </ion-row>

  <ion-row text-center>
    <ion-col class="cert-header">
      Texas Osteopathic Medical Association <br /><br />
      Certificate of Completion
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      TOMA provides the information below which serves as documentation for CME
      activity completion and should be retained for your personal records.
      <br /><br />
    </ion-col>
  </ion-row>

  <ion-row text-center>
    <ion-col>
      <b>
        The Texas Osteopathic Medical Association confirms that <br />
        <!-- <FIRST NAME> <MIDDLE NAME> <LAST NAME>, <CREDENTIAL> -->
        <div class="help-color" *ngIf="!this.token_last">
          <i>retrieving member name...</i>
        </div>
        {{ this.token_first }}{{ this.token_last }}{{ this.token_suffix }}{{ this.token_credential }} <br />
        has attended the TOMA 63rd MidWinter Conference, <br />
        held January 24 - 27, 2019 at the Omni Park West in Dallas, Texas <br />
        and has been awarded the following credits:<br />

        <br />

        {{ this.total_1A }} Category 1A AOA CME credits, which includes
        {{ this.total_ME_1A}} Medical Ethics AOA CME credits, and
        {{ this.total_RM_1A }} Risk Management credits applicable to Texas licensure requirements.
      </b>

      <br />
      <br />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      TOMA is accredited by the American Osteopathic Association to provide
      osteopathic continuing medical education for physicians. The TOMA 63rd
      Midwinter Conference has been planned and
      implemented in accordance with the accreditation requirements and policies
      of the AOA Council on Continuing Medical Education.
      <br />
      <br />
      TOMA designates this activity for a maximum of 23.25 Category 1A AOA CME
      credits, including 3 Medical Ethics credits and 3 Risk Management credits.
      Attendees should only claim credit commensurate with the extent of their
      participation in the educational activity.
      <br />
      <br />
      If you have any questions, please contact the TOMA CME Office at (512)
      708-8662 or email <a href="mailto:toma@txosteo.org" target="_top">toma@txosteo.org</a>
    </ion-col>
  </ion-row>
</ion-grid>
<br />
<br />
<br />

<div class="navButtons">
  <button
    type="reset"
    bottom
    ion-button
    small
    right
    color="primary"
    (click)="printPage()"
  >
    Print
  </button>

  <br /><br />

  <button ion-button small onclick="window.history.back();">
    Back
  </button>
</div>
<br /><br />

<!--     <button onclick="window.history.back();">Back</button>   -->

<!--
    
    // BELOW IS THE FORMAT THAT WAS USED FOR THE SUMMARY AT THE CONFERENCE


    <ion-grid>
    <ion-row><ion-col col-1></ion-col>
    <ion-col>
    <h1>POMA 2018 Clinical Assembly</h1>

    <h3>CONTINUING MEDICAL EDUCATION ATTESTATION FORM</h3>
  </ion-col>  
  </ion-row>
    </ion-grid>

    <ion-item>
    
    <b>Name:</b> {{this.token_first}} {{this.token_last}} {{this.token_suffix}} {{this.token_credential}}
    <br>
    <b>AOA #</b> {{this.token_Num}}
    <br>
    <b>Date:</b> {{this.signDate | date: 'MM/dd/yyyy'}} 
    <br>  
  </ion-item>

  <BR><BR>  

<ion-grid>

<ion-row><ion-col col-1></ion-col><ion-col col-11><b>TOTAL CME CREDITS EARNED:</b> </ion-col></ion-row>    
<ion-row>
  <ion-col col-1></ion-col><ion-col col-2><b>1A:</b></ion-col><ion-col col-9>{{ this.total_1A }}</ion-col>
</ion-row>
<ion-row><ion-col col-1></ion-col><ion-col col-2><b>1A Patient Safety:</b></ion-col><ion-col col-9>{{ this.total_1A_PS }} </ion-col></ion-row>
<ion-row><ion-col col-1></ion-col><ion-col col-2><b>1A Opiod:</b></ion-col><ion-col col-9>{{ this.total_1A_OP }}</ion-col></ion-row>
<ion-row><ion-col col-1></ion-col><ion-col col-2><b>1A Child Abuse:</b></ion-col><ion-col col-9>{{ this.total_1A_CA }}</ion-col></ion-row>
<ion-row><ion-col col-1></ion-col><ion-col col-2><b>1B:</b></ion-col><ion-col col-9>{{ this.total_1B }}</ion-col></ion-row>
<ion-row><ion-col col-1></ion-col><ion-col col-2><B>Total Credits: </B></ion-col><ion-col col-9><b>{{ this.totalCredits }}</b></ion-col></ion-row>

</ion-grid>  
    <br>
   <br>
    <br>
    <br>
    <br>

   

<br>
<br>

<ion-grid>

    <ion-row><ion-col col-1></ion-col><ion-col col-11><div *ngIf="this.alreadySigned === true">
        <button small button-clear ion-button (click)="signDocument();" color="secondary">
          <ion-icon isActive=true name="checkmark"></ion-icon>
        </button>
        I certify that the above session list is correct.
    </div>
    
    <div *ngIf="this.alreadySigned !== true">
    <button small button-clear ion-button  (click)="signDocument();">
      <ion-icon name="checkmark"></ion-icon>
    </button>
        I certify that the above session list is correct.
    </div></ion-col></ion-row>    
</ion-grid>    
<br>

<br>
<ion-row><ion-col col-1></ion-col><ion-col col-11>
<b>Details for all credits will appear in your CME Report as soon as approved.</b>
</ion-col></ion-row>


   -->
